
* {
    -webkit-tap-highlight-color: transparent;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px;
}
.logo-s{
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-achar {
    width: 120px;
}

.cons {
    text-align: center;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;;
}

.input-contato {
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: 310px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    margin: auto;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;

}

.campo-flutuante {
    position: relative;
    width: 100%;
    margin: 16px 0;
}

.label-contato {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    margin-left: 130px;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;

}

.lupa-icon {
    position: absolute;
    width: 24px;
    margin-left: 17px;
    margin-top: -40px;
    display: flex;
    border: #1a1a1a 2px solid;
    border-radius: 8px;
    padding: 6.3px;
    background: #3476b6;
}

.loc-dat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 310px;
    position: relative;
}

.input-loc{
    text-align: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;
}

.label-loc {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 58px;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.input-dat{
    text-align: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;
    justify-items: center;
    justify-content: center;
}

.label-dat {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 218px;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.input-catg {
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: 310px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    margin: auto;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;

}

.label-catg {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 41%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;

}

.btn-consultar {
    background-color: #3476b6;
    color: white;
    padding: 4px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
    font-family: 'nunito', sans-serif;
    
}

.botao-consultar {
    margin-top: 20px;
}

.aparecer{
    opacity: 0;
    filter: blur(15px);
    transform: translateY(100%);
    transition: all 0.7s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
    transition: all 0.7s;
}
