@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px;
}
.logo-s{
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-achar {
    width: 120px;
}

.cons {
    text-align: center;
    font-size: 29px;
    font-family: 'nunito', sans-serif;
}

.input-contato {
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: 355px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    margin-left: 23px;
    margin-right: 23px;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;

}

.campo-flutuante {
    position: relative;
    width: 100%;
    margin: 16px 0;
}

.label-contato {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 41%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;

}

.lupa-icon {
    position: absolute;
    width: 24px;
    margin-left: 23px;
    margin-top: -40px;
    display: flex;
    border: #1a1a1a 2px solid;
    border-radius: 8px;
    padding: 6.3px;
    background: #3476b6;
}

.loc-dat {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 10px;
}

.input-loc{
    text-align: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: auto;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    margin-left: 23px;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;
}

.loc-dat {
    position: relative;
    width: 100%;
    margin: 5px 0;
}

.label-loc {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 91.5px;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.input-dat{
    text-align: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: auto;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    margin-right: 23px;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;
}

.label-dat {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 270px;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.input-catg {
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: #1a1a1a 2px solid;
    width: 355px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    margin-left: 23px;
    margin-right: 23px;
    font-family: 'nunito', sans-serif;
    background-color: #edecec;

}

.label-catg {
    position: absolute;
    top: -8px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 41%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;

}

.btn-consultar {
    background-color: #3476b6;
    color: white;
    padding: 4px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
    font-family: 'nunito', sans-serif;
    
}

.botao-consultar {
    margin-top: 20px;
}