* {
    -webkit-tap-highlight-color: transparent;
}


.seta-voltar {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
    transform: rotate(45deg);
    margin-right: 1px;
    vertical-align: middle;
    text-decoration: none;
}

.btn-voltar {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
    font-family: 'nunito', sans-serif;
    font-size: 12px;
    padding: 1px 2px;
    display: inline-flex; 
}

.textvoltar {
    font-family: 'nunito', sans-serif;
    font-size: 17px;
    color: #222;
    text-decoration: none;
    display: flex;
    text-decoration: none;
}

.a {
    width: 345px;
    margin-left: auto;
    margin-right: auto;

}

.logo-cm {
    position: relative;
    height: 20px;

}

.logo-cmm {
    position: absolute;
    right: 0;
    margin-top: -25px;
    width: 35px;
    height: auto;
}

.titulo-ptusada {
    text-align: center !important;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
}

.bloco{
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.txt-formt{
    position: absolute;
    font-size: 15px;
    font-family: 'nunito';
    bottom: 0;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 6px;
    font-weight:bold;
}

.txtt{
    font-family: 'nunito';
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.subbloco2{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    justify-items: center;
}

.html{
    width: 110px;
}

.txt{
    font-family: 'nunito';
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.css{
    width: 105px;
    padding: 3px;
    margin-top: 3px;
}

.vscode{
    width: 105px;
    padding: 3px;
    margin-top: 10px;
}

.subbloco3{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    justify-items: center;
    
}

.txtt{
    position: absolute;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    left: 200px;
    top: 139px;
}

.campo1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
    margin-left: -8px;
}

.campo2{
   display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 80px
}

.ft1{
    display: inline-block;
    width: 167px;
    height: 210px;
    border: 2px solid #0a0909;
    border-radius: 12px;

}

.ft2{
    display: inline-block;
    width: 167px;
    height: 210px;
    border: 2px solid #0a0909;
    border-radius: 12px;
}

.ft3{
    display: inline-block;
    width: 167px;
    height: 210px;
    border: 2px solid #0a0909;
    border-radius: 12px;
}

.it {
    width: 167px;
    height: 210px;
    border-radius: 10.5px;
}

.inf{
    position: absolute;
    width: 169px;
    height: 90px;
    border-radius: 10px;
    background-image: linear-gradient(to top, black, transparent);
    top: 122px;

}

.aparecer{
    opacity: 0;
    filter: blur(15px);
    transition: all 0.7s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transition: all 0.7s;
}

.bloco :nth-child(2){
    transition-delay: 50ms;
}

.bloco :nth-child(3){
    transition-delay: 70ms;
}