
* {
    -webkit-tap-highlight-color: transparent;
}

.seta-voltar {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
    transform: rotate(45deg);
    margin-right: 1px;
    vertical-align: middle;
    text-decoration: none;
}

.btn-voltar {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
    font-family: 'nunito', sans-serif;
    font-size: 12px;
    padding: 1px 2px;
    display: inline-flex; 
}

.textvoltar {
    font-family: 'nunito', sans-serif;
    font-size: 17px;
    color: #222;
    text-decoration: none;
    display: flex;
    text-decoration: none;
}

.logo-cm {
    position: relative;
    height: 20px;

}

.logo-cmm {
    position: absolute;
    right: 0;
    margin-top: -25px;
    width: 35px;
    height: auto;
}

.a {
    width: 345px;
    margin-left: auto;
    margin-right: auto;

}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: 500px;
    background-color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.titu{
    text-align: center;
    font-size: 40px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}



.subbloco1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto); 
  gap: 10px;
  width: 345px;
  max-width: 345px;
  margin-bottom: 18px;
}

.imagem {
  grid-column: 1 / 2; 
  grid-row: 1 / 4;    
  background: #ccc;
  padding: 20px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 125px;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.info {
  background: #eee;
  padding: 10px;
}

.nome {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 8px;
  border: 1px  solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e7e7e7;
  font-family: 'nunito';
  font-size: 14px;
  margin-bottom: 8px;
  
}

.data {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-radius: 8px;
  border: 1px  solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e7e7e7;
  font-family: 'nunito';
  font-size: 14px;
  margin-bottom: 8px;
}

.status {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border-radius: 8px;
  border: 1px  solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e7e7e7;
  font-family: 'nunito';
  font-size: 14px;
}

.label-img{
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    margin-left: 7px;
    margin-top: -180px;
}

.label-nom{
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    align-items: center;
    margin-top: -55px;
}

.label-dat{
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
   align-items: center;
    margin-top: -50px;
}

.label-sts{
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    align-items: center;
    margin-top: -50px;
}

.subbloco2{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    position: relative;
    padding-bottom: 15px;
    justify-items: center;
    margin-bottom: 4px;
}

.txtt {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 324px;
    padding-top: 15px;

}

.label-resp {
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    justify-items: center;
    margin-top: -9px;
    
}

.subbloco3{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    position: relative;
    padding-bottom: 15px;
    justify-items: center;
    margin-bottom: 3px;
}

.txtt {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 324px;
    padding-top: 15px;

}

.label-recb {
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    justify-items: center;
    margin-top: -9px;
    
}

.subbloco4{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    position: relative;
    padding-bottom: 10px;
    justify-items: center;
}

.dat-dev {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 145px;

}

.label-dat-dev {
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    margin-top: -8px;
    margin-left: 28px;
}

.ob {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 150px;

}

.label-ob{
    position: absolute;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    left: 222px;
    margin-top: -8px;
}
