* {
    -webkit-tap-highlight-color: transparent;
}

.titulo-ndev {
    text-align: center !important;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;;
    display: block;
    width: 100%;
    padding-top: 25px;
}

.destn{
    background-color: red;
    padding: 0 5px;
    border-radius: 10px;
    color: #ffffff;
}

.mainn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px;
    max-width: 356px;
}

.seta-voltar {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
    transform: rotate(45deg);
    margin-right: 1px;
    vertical-align: middle;
    text-decoration: none;
}

.btn-voltar {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
    font-family: 'nunito', sans-serif;
    font-size: 12px;
    padding: 1px 2px;
    display: inline-flex; 
}

.textvoltar {
    font-family: 'nunito', sans-serif;
    font-size: 17px;
    color: #222;
    text-decoration: none;
    display: flex;
    text-decoration: none;
}

.a {
    width: 345px;
    margin-left: auto;
    margin-right: auto;

}
.aparecer{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
}