* {
    -webkit-tap-highlight-color: transparent;
}

.titulo-ndev {
    text-align: center !important;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;;
    display: block;
    width: 100%;
    padding-top: 25px;
}

.destn{
    background-color: red;
    padding: 0 5px;
    border-radius: 10px;
    color: #ffffff;
}

.mainn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px;
    max-width: 356px;
}

.aparecer{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
}