
* {
    -webkit-tap-highlight-color: transparent;
}

.seta-voltar {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
    transform: rotate(45deg);
    margin-right: 1px;
    vertical-align: middle;
    text-decoration: none;
}

.btn-voltar {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
    font-family: 'nunito', sans-serif;
    font-size: 12px;
    padding: 1px 2px;
    display: inline-flex; 
}

.textvoltar {
    font-family: 'nunito', sans-serif;
    font-size: 17px;
    color: #222;
    text-decoration: none;
    display: flex;
    text-decoration: none;
}


.logo-cm {
    position: relative;
    height: 20px;

}

.logo-cmm {
    position: absolute;
    right: 0;
    margin-top: -25px;
    width: 35px;
    height: auto;
}

.mainmain{
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.titulo-conf {
    text-align: center !important;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;;
    display: block;
    width: 100%;
}

.a {
    width: 345px;
    margin-left: auto;
    margin-right: auto;

}


.it-ach {
    text-align: left;
    margin-left: 0;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'nunito', sans-serif;
    text-decoration: underline;

}

.subbloco1{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1px;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 15px;
    justify-items: center;
    margin-bottom: -5px;
}

.nom {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 310px;
    padding-top: 15px;

}

.label-nom {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    justify-items: center;
    margin-left: 19px;
}

.icon{
    position: absolute;
    border: 1px solid black;
    background-color: #3476b6;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    left: 1.5%;
    padding: 2px;
    text-align: center;
    border-radius: 8px;

}

.icon-img{
    width: 35px;
    margin-top: 3px;
}

.bloco{

    width: 345px;
    display: grid;
    margin-left: auto;
    gap: 5px;
    margin-right: auto;
    margin-top: 20px;
}

.subbloco5{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    justify-items: center;
}

.input-img{
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 130px;
    height: 150px;
    display: none ;
}

.picture{
    width: 160px;
    height: 180px;
    background-color: #e7e7e7;
    border: 1px solid black;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #939393;
    text-align: center;
}


.label-img{
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    left: 38px;
}

.input-desc{
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 130px;
    height: 155px;

}

.label-desc{
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    left: 227px;
}

.btn-excs {
    background-color: #e33535;
    color: white;
    padding: 4px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
    font-family: 'nunito', sans-serif;
    
}

.botao-excs {
    margin-top: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 345px;
    margin-left: -10px;
}

.subbloco6{
    display: grid;
    width: 334px;
    position: relative;
    padding: 5px;
    padding-bottom: 15px;
}

.input-cod {
    padding: 10px;
    font-size: 13px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 130px;
    padding-top: 15px;
    margin-left: 2px;


}

.label-cd {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 17%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.aparecer{
    opacity: 0;
    filter: blur(15px);
    transform: translateY(100%);
    transition: all 0.7s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
    transition: all 0.7s;
}