
* {
    -webkit-tap-highlight-color: transparent;
}

.seta-voltar {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
    transform: rotate(45deg);
    margin-right: 1px;
    vertical-align: middle;
    text-decoration: none;
}

.btn-voltar {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
    font-family: 'nunito', sans-serif;
    font-size: 12px;
    padding: 1px 2px;
    display: inline-flex; 
}

.textvoltar {
    font-family: 'nunito', sans-serif;
    font-size: 17px;
    color: #222;
    text-decoration: none;
    display: flex;
    text-decoration: none;
}

.logo-cm {
    position: relative;
    height: 20px;

}

.logo-cmm {
    position: absolute;
    right: 0;
    margin-top: -25px;
    width: 35px;
    height: auto;
}

.aparecer{
    opacity: 0;
    filter: blur(15px);
    transition: all 0.7s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transition: all 0.7s;
}

.bloco :nth-child(2){
    transition-delay: 300ms;
}

.bloco :nth-child(3){
    transition-delay: 400ms;
}

.bloco :nth-child(4){
    transition-delay: 500ms;
}

.bloco :nth-child(5){
    transition-delay: 600ms;
}

.bloco :nth-child(6){
    transition-delay: 700ms;
}


.bloco{
    width: 345px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.bloco1{
    width: 345px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.titulo-det{
    text-align: center;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 23px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.subbloco1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 310px;
    position: relative;
    padding: 13px;
    margin-left: -6.5px;

}

.img{
    border: 1px solid rgb(0, 0, 0);
    width: 140px;
    height: 176px;
    border-radius: 10.5px;
}

.it1{
    width: 140px;
    border-radius: 10.5px;
    
}

.desc{
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    width: 160px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    padding-top: 15px;
}

.label-img {
    position: absolute;
    top: 5px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 17%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.label-desc {
    position: absolute;
    top: 5px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 65.5%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.subbloco2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 15px;
}

.loc {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 160px;
    padding-top: 15px;

}

.dat {
    padding: 10px;
    font-size: 13px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 120px;
    padding-top: 15px;

}

.label-dat {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 5%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.label-loc {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 53%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.subbloco3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 15px;
}

.cat {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 120px;
    padding-top: 15px;

}

.sts {
    padding: 10px;
    font-size: 13px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 160px;
    padding-top: 15px;

}

.label-cat {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 13%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.label-sts {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 58.5%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.subbloco4{
    display: grid;
    grid-template-columns: 1fr;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 15px;
}

.ob {
    padding: 10px;
    font-size: 13px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 310px;
    padding-top: 15px;

}

.label-ob {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 38%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.subbloco5{
    display: grid;
    grid-template-columns: 1fr;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 15px;
}

.cd {
    padding: 10px;
    font-size: 13px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 120px;
    padding-top: 15px;

}

.label-cd {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    left: 15%;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
}

.btn-solicitar{
    border: 1px solid black;
    width: 130px;
    margin-top: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito';
    border-radius: 8px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}