
* {
    -webkit-tap-highlight-color: transparent;
}

.seta-voltar {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
    transform: rotate(45deg);
    margin-right: 1px;
    vertical-align: middle;
    text-decoration: none;
}

.btn-voltar {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
    font-family: 'nunito', sans-serif;
    font-size: 12px;
    padding: 1px 2px;
    display: inline-flex; 
}

.textvoltar {
    font-family: 'nunito', sans-serif;
    font-size: 17px;
    color: #222;
    text-decoration: none;
    display: flex;
    text-decoration: none;
}


.logo-cm {
    position: relative;
    height: 20px;

}

.logo-cmm {
    position: absolute;
    right: 0;
    margin-top: -25px;
    width: 35px;
    height: auto;
}

.bloco{
    width: 345px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bloco1{
    width: 345px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.titulo-sol{
    text-align: center;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 23px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.bloco2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 310px;
    position: relative;
    padding: 13px;
    justify-items: center;

}

.subbloco1{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1px;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 15px;
    justify-items: center;
    margin-bottom: -5px;
}

.nom {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 310px;
    padding-top: 15px;

}

.label-nom {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    justify-items: center;
}

.icon{
    position: absolute;
    border: 1px solid black;
    background-color: #3476b6;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    left: 1.5%;
    padding: 2px;
    text-align: center;
    border-radius: 8px;

}

.icon-img{
    width: 40px;}

.subbloco2{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1px;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    justify-items: center;
}

.cont {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 310px;
    padding-top: 15px;

}

.label-cont {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    justify-items: center;
}

.icon-c{
    position: absolute;
    border: 1px solid black;
    background-color: #3476b6;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    left: 1.5%;
    padding: 2px;
    text-align: center;
    border-radius: 8px;

}

.icon-cont{
    width: 30px;
    margin-top: 6px;
}

.subbloco3{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    justify-items: center;
}

.input-dat{
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 140px;

}

.label-dat{
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    left: 70px;
}

.input-loc{
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 140px;

}

.label-loc{
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    left: 232px;
}

.subbloco4{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1px;
    width: 332px;
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    justify-items: center;
}

.ob {
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    width: 310px;
    padding-top: 15px;

}

.label-ob {
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    justify-items: center;
}

.icon-o{
    position: absolute;
    border: 1px solid black;
    background-color: #3476b6;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    left: 1.5%;
    padding: 2px;
    text-align: center;
    border-radius: 8px;

}

.icon-ob{
    width: 40px;
    margin-top: 0px;
}

.subbloco5{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    justify-items: center;
}

.input-com{
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 140px;
    height: 150px;
    display: none ;
}

.picture{
    width: 160px;
    height: 180px;
    background-color: #e7e7e7;
    border: 1px solid black;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #939393;
    text-align: center;
}


.label-com{
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    left: 30px;
}

.input-ca{
    padding: 10px;
    font-size: 14px;
    font-family: 'nunito';
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e7e7e7;
    text-align: center;
    padding-top: 15px;
    width: 140px;

}

.label-ca{
    position: absolute;
    top: -3px;
    background: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #222;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 3px;
    border: #1a1a1a 1.2px solid;
    background-color: #3476b6;
    color: #fff;
    font-family: 'nunito', sans-serif;
    left: 213px;
}

.btn-solic {
    background-color: #3476b6;
    color: white;
    padding: 4px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
    font-family: 'nunito', sans-serif;
    
}

.botao-solic {
    margin-top: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 345px;
}

.a {
    width: 345px;
    margin-left: auto;
    margin-right: auto;

}

.aparecer{
    opacity: 0;
    filter: blur(15px);
    transition: all 0.7s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transition: all 0.7s;
}

.bloco1 :nth-child(2){
    transition-delay: 300ms;
}

.bloco1 :nth-child(3){
    transition-delay: 390ms;
}

.bloco1 :nth-child(4){
    transition-delay: 430ms;
}

.bloco1 :nth-child(5){
    transition-delay: 470ms;
}

.bloco1 :nth-child(6){
    transition-delay: 520ms;
}