
* {
    -webkit-tap-highlight-color: transparent;
}

.logo-cm {
    position: relative;
    height: 20px;

}

.logo-cmm {
    position: absolute;
    right: 0;
    margin-top: -25px;
    width: 35px;
    height: auto;
}

.lp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px;
    max-width: 345px;
}

.mainmain{
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.titulo-inv {
    text-align: center !important;
    font-size: 35px;
    font-family: 'nunito', sans-serif;
    font-weight: bold;;
    display: block;
    width: 100%;
}

.ach-rec {
    text-align: left;
    margin-left: 0;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'nunito', sans-serif;
    text-decoration: underline;

}

.campo1, .campo2, .campo3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
}

.ft1{
    display: inline-block;
    width: 167px;
    height: 210px;
    border: 2px solid #0a0909;
    border-radius: 12px;

}

.ft2{
    display: inline-block;
    width: 167px;
    height: 210px;
    border: 2px solid #0a0909;
    border-radius: 12px;
}

.ft3{
    display: inline-block;
    width: 167px;
    height: 210px;
    border: 2px solid #0a0909;
    border-radius: 12px;
}

.ft4{
    display: inline-block;
    width: 167px;
    height: 210px;
    border: 2px solid #0a0909;
    border-radius: 12px;
}



.it {
    width: 167px;
    height: 210px;
    border-radius: 10.5px;
}

.inf{
    position: absolute;
    width: 169px;
    height: 90px;
    border-radius: 10px;
    background-image: linear-gradient(to top, black, transparent);
    top: 122px;

}

.inf4{
    position: absolute;
    width: 169px;
    height: 90px;
    border-radius: 10px;
    background-image: linear-gradient(to top, black, transparent);
    bottom: 0;
    
}

.txt-formt{
    position: absolute;
    font-size: 13px;
    font-family: 'nunito';
    bottom: 0;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 6px;
    font-weight:bold;
}

.txt-fnl{
    font-family: 'nunito';
    font-size: 12px;
}

.aparecer{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.aparecer-cmp{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
}

.lp :nth-child(2){
    transition-delay: 100ms;
}

.lp :nth-child(3){
    transition-delay: 200ms;
}